.main-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sample-buttons {
    margin-right: 10px;
}

.card {
    width: 32rem;
}

.Toastify__toast--error {
    font-size: 20px !important;
}